.date_dialog {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: -10px;
}

.date_picker {
    margin: 1px;
    margin-left: 5px;
    padding: 2px;
    font-size: 14pt;
    text-align: left;
    border-radius: 4px;
    border: none;
    margin-bottom: 5px;
}