<div class="date_dialog">
  <div class="radiobuttons" *ngIf="!data.isStatReport">
    <div *ngFor="let choice of IntervalTypeValues">
      <input type = "radio"
        [(ngModel)] = "data.iType"
        [checked]="intervalType == choice"
        [value]="choice" />
        {{IntervalType[choice] | translate}}<br>
    </div>
  </div>

  <div class="radiobuttons" *ngIf="data.isStatReport">
    <div *ngFor="let choice of TimeIntervalTypeValues">
      <input type = "radio"
        [(ngModel)] = "data.iType"
        [checked]="timeIntervalType == choice"
        [value]="choice" />
        {{TimeIntervalType[choice] | translate}}<br>
    </div>
  </div>

  <mat-form-field class="date_picker">
    <input matInput [matDatepicker]="picker"
    placeholder = '{{(data.iType==IntervalType.Interval ? "date_from" : "date" )| translate }}'
    [ngModel]="data.dateBegin | date:'yyyy-MM-dd'" (ngModelChange)="data.dateBegin = $event">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="date_picker" *ngIf = "(data.iType==IntervalType.Interval) || data.isStatReport">
    <input matInput [matDatepicker]="picker2"
    placeholder = '{{"date_to"| translate }}'
    [ngModel]="data.dateEnd | date:'yyyy-MM-dd'" (ngModelChange)="data.dateEnd = $event">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker2></mat-datepicker>
  </mat-form-field>

  <center>
    <button mat-raised-button color="primary" mat-dialog-close [mat-dialog-close]=data>OK</button>
  </center>
</div>