<mat-card mat-elevation-z4>
  <mat-card-content>
  <div class="date_container">
    <div class="report_date_arrow" (click)="moveDate(-1)">
      <i class="material-icons md-36">arrow_back</i>
    </div>

    <div class="report_date {{tooltip}}" 
    [attr.data-tooltip] = "'tt_select_date' | translate"
    (click)="switchDateSelector()">
        {{currentDateInterval}}
    </div>

    <div class="report_date_arrow" (click)="moveDate(1)">
      <i class="material-icons md-36">arrow_forward</i>
    </div>
  </div>

<div *ngIf="currentReport" class="report_body_container">
    <div class="report_body">
      <div class="report_item">
        <div class="report_item_name">{{"ac_name" | translate}}</div>
        <div class="report_item_begin">{{"ac_begin" | translate}}</div>
        <div class="report_item_income">{{"ac_income" | translate}}</div>
        <div class="report_item_expense">{{"ac_expense" | translate}}</div>
        <div class="report_item_end">{{"ac_end" | translate}}</div>
      </div>
    </div>
    <div *ngFor="let item of currentReport" class="report_body">
        <div class="report_item" (click)="get_category_report(item)">
          <div class="report_item_name">{{item.account | translate}}</div>
          <div class="report_item_begin">{{item.begin | number:'1.0-3':'ru-RU'}}</div>
          <div class="report_item_income">{{item.income | number:'1.0-3':'ru-RU'}}</div>
          <div class="report_item_expense">{{-1 * item.expense | number:'1.0-3':'ru-RU'}}</div>
          <div class="report_item_end">{{item.end | number:'1.0-3':'ru-RU'}}</div>
        </div>
        <div *ngIf="item.subItems" class="subcategory_body">
            <div *ngFor="let subitem of item.subItems" class="report_category">
              <div class="report_item_category_name subitem_{{subitem.style}}" (click)="get_transacion_report(subitem)">{{subitem.name}}</div>
              <div class="report_item_income subitem_{{subitem.style}}" (click)="get_transacion_report(subitem)">{{subitem.income}}</div>
              <div class="report_item_expense subitem_{{subitem.style}}" (click)="get_transacion_report(subitem)">{{subitem.expense}}</div>
              <div class="report_item_expense subitem_{{subitem.style}}" (click)="get_transacion_report(subitem)">&nbsp;</div>

              <div *ngIf="subitem.transactions" class="trans_body">
                  <div *ngFor="let trans of subitem.transactions" class="report_transaction">
                    <div class="report_item_trans_name_{{trans.otype}}" (click)="edit_transaction(trans)">{{trans.date}}</div>
                    <div class="report_item_income_{{trans.otype}}" (click)="edit_transaction(trans)">{{trans.income | number:'1.0-3':'ru-RU'}}</div>
                    <div class="report_item_expense_{{trans.otype}}" (click)="edit_transaction(trans)">{{trans.expense | number:'1.0-3':'ru-RU'}}</div>
                    <div class="report_item_comment_{{trans.otype}}" (click)="edit_transaction(trans)">{{trans.comment}}</div>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  </mat-card-content>
</mat-card>
