@media all and (orientation: portrait) and (max-width: 512px) {
    .report_item_name,
    .report_item_begin,
    .report_item_income,
    .report_item_expense,
    .report_item_end,
    .report_item_trans_name,
    .report_item_category_name,
    
    .report_item_trans_name_expense,
    .report_item_income_expense,
    .report_item_expense_expense,
    .report_item_comment_expense,
    
    .report_item_trans_name_income,
    .report_item_income_income,
    .report_item_expense_income,
    .report_item_comment_income,
    
    .report_item_trans_name_transfer,
    .report_item_income_transfer,
    .report_item_expense_transfer,
    .report_item_comment_transfer {
        font-size: 3vw !important;
    }

    .report_date, .report_date_arrow {
        font-size: 18px !important;
    }
}

.report_container {
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.date_container {
    margin-bottom: 5px;
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.report_date,
.report_date_arrow {
    color: #424242;
    font-size: 24px;
    width: fit-content;
    cursor: pointer;
    text-align: center;
    vertical-align: baseline;
}

.report_date_arrow {
    margin-right: 5px;
    margin-left: 5px;
    color: gray;
    height: 32px;
}

.material-icons {
    font-size: 32px;
}

.report_date {
    margin-left: 12px;
    margin-right: 12px;
}

.report_item_name,
.report_item_begin,
.report_item_income,
.report_item_expense,
.report_item_end,
.report_item_trans_name,
.report_item_category_name,

.report_item_trans_name_expense,
.report_item_income_expense,
.report_item_expense_expense,
.report_item_comment_expense,

.report_item_trans_name_income,
.report_item_income_income,
.report_item_expense_income,
.report_item_comment_income,

.report_item_trans_name_transfer,
.report_item_income_transfer,
.report_item_expense_transfer,
.report_item_comment_transfer {
    border: 1px solid gray;
    text-align: center;
    margin-left: -1px;
    padding: 3px;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Istok web';
    font-size: larger;
}

.report_item_trans_name_expense,
.report_item_income_expense,
.report_item_expense_expense,
.report_item_comment_expense {
    background: lightpink;
}

.report_item_trans_name_income,
.report_item_income_income,
.report_item_expense_income,
.report_item_comment_income{
    background: rgb(95, 202, 95);
}

.report_item_trans_name_transfer,
.report_item_income_transfer,
.report_item_expense_transfer,
.report_item_comment_transfer {
    background: rgb(85, 172, 222);
}

.subitem_income {
    background: lightgreen;
}

.subitem_expense {
    background: #ffd2d2c7;
}

.subitem_transfer {
    background: lightskyblue;
}

.report_item_category_name {
    margin-left: 20px;
    grid-column-start: 1;
    grid-column-end  : 3;
}

.report_item,
.report_category {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
}

.report_item {
    margin-top: -2px;
}

.report_transaction {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    background: #ffd2d2c7;
    margin-top: -1px;
}

.report_category {
    margin-left: -2px;
    margin-top : -1px;
    width: 100%;
}

.report_date_selector_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.subcategory_body {
    width: 100%;
    margin: 1px;
    padding: 1px;
    margin-top: 0px;
}

.trans_body {
    width: 100%;
    grid-column-start: 2;
    grid-column-end  : 6;
}

.report_body_container {
    padding: 5px;
}

.report_body {
    margin: -1px;
}