<mat-dialog-content>
  <div class="content">{{data.text | translate}}</div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="buttons">
    <button *ngIf="!data.show_yes"   [mat-dialog-close]="1" mat-raised-button mat-dialog-close>{{"ok" | translate}}</button>
    <button *ngIf="data.show_yes"    [mat-dialog-close]="2" mat-raised-button mat-dialog-close>{{"yes" | translate}}</button>
    <button *ngIf="data.show_no"     [mat-dialog-close]="3" mat-raised-button mat-dialog-close>{{"no" | translate}}</button>
    <button *ngIf="data.show_cancel" [mat-dialog-close]="4" mat-raised-button mat-dialog-close>{{"cancel" | translate}}</button>
  </div>
</mat-dialog-actions>