/*
  Flaticon icon font: Flaticon
  Creation date: 04/02/2018 02:21
  */

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 36px;
  font-style: normal;
}

.flaticon-arrows:before { content: "\f100"; }
.flaticon-minus-symbol:before { content: "\f101"; }
.flaticon-plus-button:before { content: "\f102"; }
.flaticon-arrow:before { content: "\f10d"; }
.flaticon-pie-chart:before { content: "\f10e"; }
.flaticon-exit:before { content: "\f127"; }
.flaticon-interface:before { content: "\f128"; }
.flaticon-settings:before { content: "\f129"; }
.flaticon-spreadsheet:before { content: "\f16b"; }
.flaticon-save-1:before { content: "\f176"; }
.flaticon-save:before { content: "\f177"; }
.flaticon-garbage:before { content: "\f186"; }
.flaticon-transfer-arrows:before { content: "\f1a5"; }
.flaticon-ok-mark:before { content: "\f1a1"; }
.flaticon-add-documents:before { content: "\f1a2"; }
.flaticon-delete-cross:before { content: "\f19a"; }
.flaticon-round-help-button:before { content: "\f19b"; }
.flaticon-question-mark:before { content: "\f19c"; }
.flaticon-spreadsheet-cell:before { content: "\f19d"; }
.flaticon-1:before { content: "\f10f"; }
.flaticon-2:before { content: "\f110"; }
.flaticon-3:before { content: "\f111"; }
.flaticon-4:before { content: "\f112"; }
.flaticon-5:before { content: "\f114"; }
.flaticon-6:before { content: "\f115"; }
.flaticon-7:before { content: "\f11a"; }
.flaticon-8:before { content: "\f113"; }
.flaticon-9:before { content: "\f15c"; }
.flaticon-10:before { content: "\f153"; }
.flaticon-11:before { content: "\f168"; }
.flaticon-12:before { content: "\f16d"; }
.flaticon-13:before { content: "\f117"; }
.flaticon-14:before { content: "\f16f"; }
.flaticon-15:before { content: "\f121"; }
.flaticon-16:before { content: "\f13a"; }
.flaticon-17:before { content: "\f13b"; }
.flaticon-18:before { content: "\f199"; }
.flaticon-19:before { content: "\f11b"; }
.flaticon-20:before { content: "\f18c"; }
.flaticon-21:before { content: "\f165"; }
.flaticon-22:before { content: "\f118"; }
.flaticon-23:before { content: "\f119"; }
.flaticon-24:before { content: "\f15d"; }
.flaticon-25:before { content: "\f15e"; }
.flaticon-26:before { content: "\f103"; }
.flaticon-27:before { content: "\f11d"; }
.flaticon-28:before { content: "\f11f"; }
.flaticon-29:before { content: "\f15a"; }
.flaticon-30:before { content: "\f1a3"; }
.flaticon-31:before { content: "\f105"; }
.flaticon-32:before { content: "\f11e"; }
.flaticon-33:before { content: "\f123"; }
.flaticon-34:before { content: "\f183"; }
.flaticon-35:before { content: "\f142"; }
.flaticon-36:before { content: "\f15b"; }
.flaticon-37:before { content: "\f170"; }
.flaticon-38:before { content: "\f194"; }
.flaticon-39:before { content: "\f18e"; }
.flaticon-40:before { content: "\f122"; }
.flaticon-41:before { content: "\f192"; }
.flaticon-42:before { content: "\f13c"; }
.flaticon-43:before { content: "\f157"; }
.flaticon-44:before { content: "\f188"; }
.flaticon-45:before { content: "\f161"; }
.flaticon-46:before { content: "\f181"; }
.flaticon-47:before { content: "\f169"; }
.flaticon-48:before { content: "\f18f"; }
.flaticon-49:before { content: "\f16e"; }
.flaticon-50:before { content: "\f17e"; }
.flaticon-51:before { content: "\f107"; }
.flaticon-52:before { content: "\f13d"; }
.flaticon-53:before { content: "\f189"; }
.flaticon-54:before { content: "\f141"; }
.flaticon-55:before { content: "\f125"; }
.flaticon-56:before { content: "\f140"; }
.flaticon-57:before { content: "\f190"; }
.flaticon-58:before { content: "\f171"; }
.flaticon-59:before { content: "\f187"; }
.flaticon-60:before { content: "\f10b"; }
.flaticon-61:before { content: "\f124"; }
.flaticon-62:before { content: "\f166"; }
.flaticon-63:before { content: "\f19e"; }
.flaticon-64:before { content: "\f10a"; }
.flaticon-65:before { content: "\f185"; }
.flaticon-66:before { content: "\f12d"; }
.flaticon-67:before { content: "\f17c"; }
.flaticon-68:before { content: "\f17f"; }
.flaticon-69:before { content: "\f198"; }
.flaticon-70:before { content: "\f17d"; }
.flaticon-71:before { content: "\f191"; }
.flaticon-72:before { content: "\f10c"; }
.flaticon-73:before { content: "\f19f"; }
.flaticon-74:before { content: "\f134"; }
.flaticon-75:before { content: "\f136"; }
.flaticon-76:before { content: "\f137"; }
.flaticon-77:before { content: "\f138"; }
.flaticon-78:before { content: "\f13e"; }
.flaticon-79:before { content: "\f132"; }
.flaticon-80:before { content: "\f133"; }
.flaticon-81:before { content: "\f135"; }
.flaticon-82:before { content: "\f139"; }
.flaticon-83:before { content: "\f116"; }
.flaticon-84:before { content: "\f12f"; }
.flaticon-85:before { content: "\f12e"; }
.flaticon-86:before { content: "\f130"; }
.flaticon-87:before { content: "\f131"; }
.flaticon-88:before { content: "\f148"; }
.flaticon-89:before { content: "\f143"; }
.flaticon-90:before { content: "\f144"; }
.flaticon-91:before { content: "\f145"; }
.flaticon-92:before { content: "\f146"; }
.flaticon-93:before { content: "\f147"; }
.flaticon-94:before { content: "\f149"; }
.flaticon-95:before { content: "\f14a"; }
.flaticon-96:before { content: "\f14b"; }
.flaticon-97:before { content: "\f14c"; }
.flaticon-98:before { content: "\f14d"; }
.flaticon-99:before { content: "\f14e"; }
.flaticon-100:before { content: "\f150"; }
.flaticon-101:before { content: "\f151"; }
.flaticon-102:before { content: "\f152"; }
.flaticon-103:before { content: "\f14f"; }
.flaticon-104:before { content: "\f180"; }
.flaticon-105:before { content: "\f164"; }
.flaticon-106:before { content: "\f167"; }
.flaticon-107:before { content: "\f155"; }
.flaticon-108:before { content: "\f16a"; }
.flaticon-109:before { content: "\f120"; }
.flaticon-110:before { content: "\f126"; }
.flaticon-111:before { content: "\f156"; }
.flaticon-112:before { content: "\f160"; }
.flaticon-113:before { content: "\f175"; }
.flaticon-114:before { content: "\f108"; }
.flaticon-115:before { content: "\f106"; }
.flaticon-116:before { content: "\f109"; }
.flaticon-117:before { content: "\f172"; }
.flaticon-118:before { content: "\f158"; }
.flaticon-119:before { content: "\f173"; }
.flaticon-120:before { content: "\f193"; }
.flaticon-121:before { content: "\f182"; }
.flaticon-122:before { content: "\f184"; }
.flaticon-123:before { content: "\f18d"; }
.flaticon-124:before { content: "\f1a6"; }
.flaticon-125:before { content: "\f12c"; }
.flaticon-126:before { content: "\f195"; }
.flaticon-127:before { content: "\f18a"; }
.flaticon-128:before { content: "\f196"; }
.flaticon-129:before { content: "\f17b"; }
.flaticon-130:before { content: "\f18b"; }
.flaticon-131:before { content: "\f1a4"; }
.flaticon-132:before { content: "\f154"; }
.flaticon-133:before { content: "\f16c"; }
.flaticon-134:before { content: "\f197"; }
.flaticon-135:before { content: "\f159"; }
.flaticon-136:before { content: "\f1a0"; }
.flaticon-137:before { content: "\f179"; }
.flaticon-138:before { content: "\f178"; }
.flaticon-139:before { content: "\f12a"; }
.flaticon-140:before { content: "\f12b"; }
.flaticon-141:before { content: "\f11c"; }
.flaticon-142:before { content: "\f15f"; }
.flaticon-143:before { content: "\f13f"; }
.flaticon-144:before { content: "\f162"; }
.flaticon-145:before { content: "\f163"; }
.flaticon-146:before { content: "\f174"; }
.flaticon-147:before { content: "\f17a"; }
.flaticon-148:before { content: "\f104"; }
