<div class="container">

  <div *ngIf="accounts" class="accounts">
    <mat-card *ngFor="let acc of accounts" 
      class="account_card mat-elevation-z4"
      (click)="editAccount($event, acc)">
        <mat-card-header>
          <div mat-card-avatar>
            <i class="flaticon-{{acc.icon}}"></i>
          </div>
          <mat-card-title>{{acc.name}}</mat-card-title>
          <mat-card-subtitle>{{acc.curr_name}} ({{acc.curr_sign}})</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
  </div>

  <button mat-fab color="warn">
    <mat-icon aria-label="{{'ac_create' | translate}}" (click)="createAccount()">add</mat-icon>
  </button>

</div>