.account_card {
    width: 180px;
    min-width: 160px;
    height: 48px;
    margin: 5px;
    overflow: hidden;
}

@media all and (max-width: 444px) {
    .account_card {
        width: 100% !important;
        margin: 2px !important;
    }
}

.accounts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 16px;
}

.account_card.mat-card {
    padding: 8px;
}

.mat-card-header .mat-card-title {
    font-size: 16px;
}
