@media all and (max-width: 599px) {
    .picker_body_large {
        margin: -24px;
        margin-bottom: 0;
        width: unset;
        max-width: unset;
        max-height: unset;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .cdk-overlay-pane {
        max-width: none !important;
    }

    .mat-dialog-content {
        overflow: unset !important;
        max-height: unset;
        height: 100%;
    }

    .picker_body_large_table {
        padding: 10px;
    }
}

@media all and (min-width: 600px) {
    .cdk-overlay-pane {
        max-width: 80vw;
    }

    .picker_body_large {
        margin: -14px;
        width: unset;
        max-width: 400px;
        max-height: unset;
        height: 100%;
    }

    .mat-dialog-content {
        overflow: unset !important;
        max-height: unset;
    }
}

.inputflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px;
    margin-bottom: 12px;
    align-items: center;
    background: #c7c7c7;
    padding: 1px 10px;

    border: 1px solid gray;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.calc_button,
.calc_button_wide {
    color: #000000;
    width: 24px;
    font-size: 17pt;
    font-weight: bold;
    flex-grow: 2;
    background: rgb(214, 214, 214);
    font-family: 'Istok Web', 'Meiryo', 'Verdana', 'MS PGothic', sans-serif;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.calc_button_wide {
    width: 50px;
    flex-grow: 3;
}

.calc_button_hlt {
    color: #000000;
    width: 24px;
    font-size: 17pt;
    font-weight: bold;
    flex-grow: 2;
    font-family: 'Istok Web', 'Meiryo', 'Verdana', 'MS PGothic', sans-serif;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    background: lightyellow;
}

.transact_calc {
    margin-top: 32px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    padding: 10px;
    height: 375px;
}

.calc_row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 2;
}

.picker_body {
    max-width: 350px;
    max-height: 350px;
    overflow: auto;
    margin: auto;
    margin-top: 120px;
    border: 2px solid black;
    border-radius: 8px;
    background: white;
    display: flex;
    flex-wrap: wrap;
}

.picker_icon {
    min-width: 70px;
    max-width: 88px;
    min-height: 70px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.picker_icon_image {
    padding:  5px;
}

.picker_icon_text {
    font-size: 13px;
    overflow: hidden;
    margin: 2px;
    word-wrap: break-word;
}

.picker_body_large_table {
    display: flex;
    flex-direction: column;
}

.comment {
    display: inline-block;
    border: none;
    border-bottom : 1px solid darkgrey;
    background: #E6E5E5;
    font-size: 20px;
    height: 22px;
    margin: 3px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
}
.display {
    display: inline-block;
    border: none;
    font-size: 42px;
    height: 52px;
    margin: 3px;
    padding: 1px;
    flex-grow: 200;
    text-align: center;
    color: steelblue;
    width: 100px;
    background: #c7c7c7;
}

.icon_picker_close {
    width: 28px;
    color: white;
    border-radius: 16px;
    font-size: 21px;
    background-color: #5a5757;
    border: 3px solid rgb(0, 0, 0);
    position: relative;
    top: -16px;
    margin-left: 96%;
    cursor: default;
    text-align: center;
}

.icon_picker_wrapper {
    margin: auto;
    margin-top: 10%;
    max-width: fit-content; /* 430 px */
    background: #E6E5E5;
    border: 2px solid darkgray;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.icon_picker_body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between; 
    padding: 10px;
    text-align: center;
    flex-flow: row wrap;
}

.select_span {
    font-family: monospace;
    font-size: 20px;
    padding: 3px;
    margin: auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */  
    .select_span {
        width: 167px;
        border: none;
        padding-left: 30px;
    }
    } 

.select_span::-webkit-inner-spin-button {
    display: none;
}
.select_span::-webkit-calendar-picker-indicator {
    display: block;
    -webkit-appearance: none;
    opacity: 1;
}

.mat-dialog-container {
    background: cyan !important;
}

.exchanger {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 66px;
    margin-top: 4px;
}

.exchange_symbol {
    color: dimgray;
    margin: 8px;
    margin-bottom: 19px;
    margin-top: 0px;
}

.exchange_input {
    width: 120px;
}

.exchange_label {
    display: block;
    margin-bottom: 2px;
}