<mat-dialog-content>
  <div class="picker_body_large">
    <div class="picker_body_large_table">

        <mat-form-field class="select_span">
            <input matInput [matDatepicker]="picker" tabindex="-1"
            [ngModel]="data.transaction.date | date:'yyyy-MM-dd'" 
            (ngModelChange)="data.transaction.date = $event"
            required="required">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>

        <div class="inputflex">
                <div *ngIf="accounts && accounts[data.transaction.sourceAccount]"
                    (click)="showSrcAccPicker()" class="icon" >
                    <i class="flaticon-{{accounts[data.transaction.sourceAccount].icon}}"></i>
                </div>

                <input type='text' class = "display"
                placeholder='{{"tr_amount" | translate}}'
                (keypress)="keyHandler($event.keyCode)"
                [(ngModel)]="regXString">
        
                <div *ngIf="2 < data.transaction.type && accounts && accounts[data.transaction.targetAccount]"
                    (click)="showTgtAccPicker()" class="icon" >
                    <i class="flaticon-{{accounts[data.transaction.targetAccount].icon}}"></i>
                </div>
        
                <div *ngIf="data.transaction.type < 3 && categories && categories[data.transaction.category]"
                    (click)="showCatPicker()" class="icon" >
                    <i class="flaticon-{{categories[data.transaction.category].icon}}"></i>
                </div>
        </div>

        <div class="exchanger" *ngIf="accounts && accounts[data.transaction.sourceAccount].currency != accounts[data.transaction.targetAccount].currency">
            <div class="exchange_symbol">
                <mat-icon>close</mat-icon>
            </div>

            <mat-form-field class="exchange_input">
                <label class="exchange_label">{{"exchange_rate" | translate}}</label>
                <input matInput [(ngModel)]="exRate" (keyup)="exchangeKeyHandler($event.keyCode)">
            </mat-form-field>

            <div class="exchange_symbol">
                <mat-icon>drag_handle</mat-icon>
            </div>

            <mat-form-field class="exchange_input">
                <label class="exchange_label">{{"exchange_result" | translate}} ({{accounts[data.transaction.targetAccount].curr_sign}})</label>
                <input matInput [(ngModel)]="exResult">
            </mat-form-field>
        </div>

        <input type='text' class = "comment"
            placeholder='{{"tr_comment" | translate}}'
            [(ngModel)]="data.transaction.comment">
    </div>

    <div class="transact_calc">
        <div class="calc_row">
            <button mat-button (click) = "doOperation(Operation.CLEAR)" class="calc_button_wide">C</button>
            <button mat-button (click) = "doOperation(Operation.BSP)"   class="calc_button_wide">←</button>
            <button mat-button (click) = "doOperation(Operation.ADD)" [ngClass]="!digitPressed && currentOperation==Operation.ADD ? 'calc_button_hlt' : 'calc_button'">+</button>
        </div>
        <div class="calc_row">
            <button mat-button (click) = "addDigit(1)" class="calc_button">1</button>
            <button mat-button (click) = "addDigit(2)" class="calc_button">2</button>
            <button mat-button (click) = "addDigit(3)" class="calc_button">3</button>
            <button mat-button (click) = "doOperation(Operation.SUB)" [ngClass]="!digitPressed && currentOperation==Operation.SUB ? 'calc_button_hlt' : 'calc_button'">-</button>
        </div>
        <div class="calc_row">
            <button mat-button (click) = "addDigit(4)" class="calc_button">4</button>
            <button mat-button (click) = "addDigit(5)" class="calc_button">5</button>
            <button mat-button (click) = "addDigit(6)" class="calc_button">6</button>
            <button mat-button (click) = "doOperation(Operation.MULT)" [ngClass]="!digitPressed && currentOperation==Operation.MULT ? 'calc_button_hlt' : 'calc_button'">*</button>
        </div>
        <div class="calc_row">
            <button mat-button (click) = "addDigit(7)" class="calc_button">7</button>
            <button mat-button (click) = "addDigit(8)" class="calc_button">8</button>
            <button mat-button (click) = "addDigit(9)" class="calc_button">9</button>
            <button mat-button (click) = "doOperation(Operation.DIV)" [ngClass]="!digitPressed && currentOperation==Operation.DIV ? 'calc_button_hlt' : 'calc_button'">/</button>
        </div>
        <div class="calc_row">
            <button mat-button (click) = "addDigit(10)" class="calc_button">.</button>
            <button mat-button (click) = "addDigit(0)" class="calc_button">0</button>
            <button mat-button (click) = "doOperation(Operation.SIGN)" class="calc_button">+/-</button>
            <button mat-button (click) = "doOperation(Operation.EQUAL)" class="calc_button">=</button>
        </div>
        <div class="calc_row">
            <button mat-button *ngIf="data.transaction.id" class="calc_button_wide"
            (click)="doDeleteTransaction()" >{{"delete" |translate}}</button>

            <button mat-button *ngIf="
            ((3 > data.transaction.type &&
             0 != data.transaction.amount &&
             0 != data.transaction.sourceAccount &&
             0 == data.transaction.targetAccount &&
             0 != data.transaction.category)
            ||
            (3 == data.transaction.type &&
             0 != data.transaction.amount &&
             0 != data.transaction.sourceAccount &&
             0 != data.transaction.targetAccount &&
             data.transaction.sourceAccount != data.transaction.targetAccount)
             ||
             (4 == data.transaction.type &&
             0 != data.transaction.amount &&
             0 != data.transaction.amount_exchanged &&
             0 != data.transaction.sourceAccount &&
             0 != data.transaction.targetAccount &&
             data.transaction.sourceAccount != data.transaction.targetAccount)
             
             )
            " 
            class="calc_button_wide"
            (click)="doConfirmTransaction()">{{"save_settings" | translate}}</button>
        
            <button mat-button class="calc_button_wide" (click)="doCancel()">{{"cancel" | translate}}</button>

        </div>
    </div>
  </div>
</mat-dialog-content>