.report_item_name,
.report_item_begin,
.report_item_income,
.report_item_expense,
.report_item_end,
.report_item_trans_name,
.report_item_category_name,

.report_item_trans_name_expense,
.report_item_income_expense,
.report_item_expense_expense,
.report_item_comment_expense,

.report_item_trans_name_income,
.report_item_income_income,
.report_item_expense_income,
.report_item_comment_income,

.report_item_trans_name_transfer,
.report_item_income_transfer,
.report_item_expense_transfer,
.report_item_comment_transfer
{
    border: 1px solid gray;
    text-align: center;
    margin-left: -1px;
    padding: 3px;
    word-wrap: none;
    overflow: hidden;
}

.report_item_trans_name_expense,
.report_item_income_expense,
.report_item_expense_expense,
.report_item_comment_expense {
    background: lightpink;
}

.report_item_trans_name_income,
.report_item_income_income,
.report_item_expense_income,
.report_item_comment_income{
    background: rgb(95, 202, 95);
}

.report_item_trans_name_transfer,
.report_item_income_transfer,
.report_item_expense_transfer,
.report_item_comment_transfer {
    background: rgb(85, 172, 222);
}

.subitem_income {
    background: lightgreen;
}

.subitem_expense {
    background: #ffd2d2c7;
}

.subitem_transfer {
    background: lightskyblue;
}

.report_item_category_name {
    margin-left: 20px;
    grid-column-start: 1;
    grid-column-end  : 3;
}

.report_item,
.report_category {
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-template-rows: auto;
}

.report_transaction {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    margin-top: -1px;
}

.report_category {
    margin-left: -2px;
    margin-top : -1px;
}

.report_date_selector_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.subcategory_body {
    width: fit-content;
    margin: 1px;
    padding: 1px;
    margin-top: 0px;
}

.trans_body {
    grid-column-start: 2;
    grid-column-end  : 5;
}

.report_body_container {
    padding: 5px;
}

.report_body {
    border: 1px solid darkmagenta;
    border-radius: 4px;
    margin: 4px;
    padding: 5px;
}

.account_name {
    color: red;
    font-size: 14pt;
    border-bottom: 1px dashed red;
    cursor: pointer;
}

.target_switch,
.target_switcher {
    display: flex;
    align-items: flex-end;
}

.target_switcher {
    margin-left: 5px;
    margin-right: 5px;
}

.report_settings {
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
    justify-content: space-between;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    align-items: baseline;
}

.report_date_selector_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #00000075;
    z-index: 500;
}

/* @media all and (max-width: 545px) {
    .account_name,
    .target_switch {
        font-size: 3.3vw;
    }
} */

@media all and (orientation: portrait) and (max-width: 512px) {
    .report_item_name,
    .report_item_begin,
    .report_item_income,
    .report_item_expense,
    .report_item_end,
    .report_item_trans_name,
    .report_item_category_name,
    
    .report_item_trans_name_expense,
    .report_item_income_expense,
    .report_item_expense_expense,
    .report_item_comment_expense,
    
    .report_item_trans_name_income,
    .report_item_income_income,
    .report_item_expense_income,
    .report_item_comment_income,
    
    .report_item_trans_name_transfer,
    .report_item_income_transfer,
    .report_item_expense_transfer,
    .report_item_comment_transfer {
        font-size: 3vw !important;
    }

    .report_date, .report_date_arrow {
        font-size: 18px !important;
    }

    .account_name,
    .target_switch {
        font-size: 3.3vw !important;
    }
}

.chart {
    max-width: 430px;
    margin: auto;
}

.date_container {
    margin-bottom: 5px;
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.report_date,
.report_date_arrow {
    color: #424242;
    font-size: 24px;
    width: fit-content;
    cursor: pointer;
    text-align: center;
    vertical-align: baseline;
}

.report_date_arrow {
    margin-right: 5px;
    margin-left: 5px;
    color: gray;
    height: 32px;
}

.material-icons {
    font-size: 32px;
}

.report_date {
    margin-left: 12px;
    margin-right: 12px;
}