<mat-card mat-elevation-z4>
    <mat-card-content>
        <div class="date_container">
          <div class="report_date_arrow" (click)="moveDate(-1)">
            <i class="material-icons md-36">arrow_back</i>
          </div>
        
          <div class="report_date {{tooltip}}" 
          [attr.data-tooltip] = "'tt_select_date' | translate"
          (click)="switchDateSelector()">
            {{currentDateInterval}}
          </div>
        
          <div class="report_date_arrow" (click)="moveDate(1)">
            <i class="material-icons md-36">arrow_forward</i>
          </div>
        </div>

    <div class="report_settings">
        <div class="account_name {{tooltip}}" [attr.data-tooltip] = "'tt_select_account' | translate"
        *ngIf = "accounts"
        (click)="changeAccount()">{{accounts[accountId].name | translate}}</div>
    
      <div class="target_switch">
        {{"ac_expense" |translate }}
        <ui-switch
          class="target_switcher"
          color="#ffd2d2c7"
          size="small"
          switchColor="#3f51b5"
          [(ngModel)] = "chartTargetIncome"
          (change)="changeChartTarget()" >
        </ui-switch>
          {{"ac_income" |translate }}
      </div>
    </div>

    <div style="display: block" *ngIf = "showChart">
      <canvas class="chart" baseChart height="400px"
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [options]="chartOptions"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
      </canvas>
    
      <div class="report_body"  *ngIf="transactions">
        <div class="report_title">{{report_title}}</div>
      
        <div class="report_item">
          <div class="report_item_name">{{"ac_date" | translate}}</div>
          <div *ngIf="chartTargetIncome" class="report_item_income">{{"ac_income" | translate}}</div>
          <div *ngIf="!chartTargetIncome" class="report_item_expense">{{"ac_expense" | translate}}</div>
          <div class="report_item_end">{{"ac_comment" | translate}}</div>
        </div>
      
        <div class="trans_body">
          <div *ngFor="let trans of transactions" class="report_transaction">
            <div class="report_item_trans_name_{{trans.otype}}" (click)="edit_transaction(trans)">{{trans.date}}</div>
            <div *ngIf="chartTargetIncome" class="report_item_income_{{trans.otype}}">{{trans.income}}</div>
            <div *ngIf="!chartTargetIncome" class="report_item_expense_{{trans.otype}}">{{trans.expense}}</div>
            <div class="report_item_comment_{{trans.otype}}">{{trans.comment}}</div>
          </div>
        </div>
      </div>
    
    </div>
  </mat-card-content>
</mat-card>