<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="over"
        [opened]="false">
        <mat-toolbar class="mat-toolbar mat-primary" (click)="drawer.toggle()" >{{"tt_menu" | translate}}</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item (click)="drawer.toggle()" [routerLink]="['']"><mat-icon>home</mat-icon>&nbsp;{{"tt_home" | translate}}</a>
            <a mat-list-item (click)="drawer.toggle()" [routerLink]="['report']"><mat-icon>table_chart</mat-icon>&nbsp;{{"tt_table" | translate}}</a>
            <a mat-list-item (click)="drawer.toggle()" [routerLink]="['pie']"><mat-icon>pie_chart</mat-icon>&nbsp;{{"tt_piechart" | translate}}</a>
            <a mat-list-item (click)="drawer.toggle()" [routerLink]="['stat']"><mat-icon>trending_up</mat-icon>&nbsp;{{"tt_stat" | translate}}</a>
            <a mat-list-item (click)="drawer.toggle()" [routerLink]="['settings']"><mat-icon>settings</mat-icon>&nbsp;{{"tt_settings" | translate}}</a>
            <a mat-list-item (click)="drawer.toggle()" [routerLink]="['help']"><mat-icon>help_outline</mat-icon>&nbsp;{{"tt_help" | translate}}</a>
            <a mat-list-item (click)="drawer.toggle()" href="#" (click)="doLogout()"><mat-icon>exit_to_app</mat-icon>&nbsp;{{"tt_exit" | translate}}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
        <div class = "button_and_logo" *ngIf="isHandset$ | async">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <div class="logo">
                Litemoney.online
            </div>
        </div>

        <div class="transactbuttons" *ngIf="!(isHandset$ | async)">
            <button type="button" aria-label="Expense" mat-fab color="accent"
            (click)="newTransaction(2)">
                <mat-icon aria-label="Expense icon">remove</mat-icon>
            </button>

            <button type="button" aria-label="Income" mat-mini-fab color="primary"
            (click)="newTransaction(1)">
                <mat-icon aria-label="Income icon">add</mat-icon>
            </button>

            <button type="button" aria-label="Expense" mat-mini-fab color="primary"
            *ngIf="2 != globals.getCurrentSettings().imode"
            (click)="newTransaction(3)">
                <mat-icon aria-label="Swap icon">swap_horiz</mat-icon>
            </button>
        </div>

        <div class="buttons" *ngIf="!(isHandset$ | async)">
            <a [routerLink]="['']" aria-label="Categories" mat-icon-button>
                <mat-icon aria-label="Categories icon">home</mat-icon>
            </a>

            <a [routerLink]="['report']" aria-label="Piechart" mat-icon-button>
                <mat-icon aria-label="Categories icon">table_chart</mat-icon>
            </a>

            <a [routerLink]="['pie']" aria-label="Piechart" mat-icon-button>
                <mat-icon aria-label="Pie chart icon">pie_chart</mat-icon>
            </a>

            <a [routerLink]="['stat']" aria-label="Statistics" mat-icon-button>
                <mat-icon aria-label="Pie chart icon">trending_up</mat-icon>
            </a>

            <a [routerLink]="['settings']" aria-label="Settings" mat-icon-button>
                <mat-icon aria-label="Pie chart icon">settings</mat-icon>
            </a>

            <a [routerLink]="['help']" aria-label="Help" mat-icon-button>
                <mat-icon aria-label="Help icon">help_outline</mat-icon>
            </a>

            <button type="button" aria-label="Logout" mat-icon-button
            (click)="doLogout()">
                <mat-icon aria-label="Logout icon">exit_to_app</mat-icon>
            </button>
        </div>
        </mat-toolbar>
        <router-outlet class="outlet"></router-outlet>
        <div class="transact_controls" *ngIf="(isHandset$ | async)">
            <button (click)="newTransaction(1)" class="transact_button_income"><i class="flaticon-plus-button"></i></button>
            <button (click)="newTransaction(2)" class="transact_button_expense"><i class="flaticon-minus-symbol"></i></button>
            <button *ngIf="2 != globals.getCurrentSettings().imode" (click)="newTransaction(3)" class="transact_button_transfer"><i class="flaticon-arrows"></i></button>
        </div>
        <!-- Add Content Here -->
    </mat-sidenav-content>
    </mat-sidenav-container>