.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
}

.buttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}

.transactbuttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: white;
    border-radius: 28px;
    height: 46px;
    width: 141px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
}

.transactbuttons .mat-icon {
    width: unset;
    height: unset;
    font-size: 22pt;
    margin-top: -2px;
}

.transactbuttons .mat-button-wrapper,
.mat-button-wrapper {
    padding: 0px !important;
}

.transact_button_income,
.transact_button_expense,
.transact_button_transfer {
    border: none; 
    background: transparent;
    cursor: pointer;
}
/* @media all and (max-width: 598px) { */
    .transact_controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 6px;
        overflow: hidden;
    }

    .transact_controls .flaticon-arrows:before { content: "\f100";       font-size: 24vw; color: rgb(14, 126, 187);  }
    .transact_controls .flaticon-minus-symbol:before { content: "\f101"; font-size: 24vw; color: #db1212c7;}
    .transact_controls .flaticon-plus-button:before { content: "\f102";  font-size: 24vw; color: rgb(14, 167, 14);}
/* } */
.button_and_logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    display: block;
    margin-left: 5px;
}
