<mat-card mat-elevation-z4>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="{{'interface_settings' | translate}}"><settings></settings></mat-tab>
            <mat-tab label="{{'ac_title' | translate}}"><accounts></accounts></mat-tab>
            <mat-tab label="{{'grp_title' | translate}}"><groups></groups></mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>