<mat-card mat-elevation-z4>
  <mat-card-content>

    <div class="report_settings">

      <div class="date_container">
        <div class="report_date_arrow" (click)="moveDate(-1)">
          <i class="material-icons md-36">arrow_back</i>
        </div>

        <div class="report_date {{tooltip}}" 
        [attr.data-tooltip] = "'tt_select_date' | translate"
        (click)="switchDateSelector()">
            {{currentDateInterval}}
        </div>
      
        <div class="report_date_arrow" (click)="moveDate(1)">
          <i class="material-icons md-36">arrow_forward</i>
        </div>
      </div>

    </div>

    <div style="display: block" *ngIf = "showChart">
      <canvas baseChart class="chart" height="450px"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>

  <div class="report_settings">
    <div class="target_switch">
      <div class="target_switch_text_left">
        {{"ac_detail" |translate }}
      </div>
      <ui-switch
        class="target_switcher"
        color="#ffd2d2c7"
        size="small"
        switchColor="#3f51b5"
        [(ngModel)] = "chartBalancesCombined"
        (change)="changeBalancesCombined()" >
      </ui-switch>
      <div class="target_switch_text_right">
        {{"ac_combined" |translate }}
      </div>
    </div>

    <div class="target_switch" *ngIf="!chartTargetIsBalance">
      <div class="target_switch_text_left">
        {{"ac_expense" |translate }}
      </div>
      <ui-switch
        class="target_switcher"
        color="#ffd2d2c7"
        size="small"
        switchColor="#3f51b5"
        [(ngModel)] = "chartTargetIncome"
        (change)="changeChartTarget($event)" >
      </ui-switch>
      <div class="target_switch_text_right">
        {{"ac_income" |translate }}
      </div>
    </div>

    <div class="target_switch">
      <div class="target_switch_text_left">
        {{"ac_operations" |translate }}
      </div>
      <ui-switch
        class="target_switcher"
        color="#ffd2d2c7"
        size="small"
        switchColor="#3f51b5"
        [(ngModel)] = "chartTargetIsBalance"
        (change)="changeChartTargetBalance()" >
      </ui-switch>
      <div class="target_switch_text_right">
        {{"ac_balances" |translate }}
      </div>
    </div>
  </div>

  </mat-card-content>
</mat-card>