<div class="icon_picker_body">
  <button mat-button (click)="iconPickerPrev()" [disabled]="1==currentMinIconId">
    <i class="material-icons">keyboard_arrow_left</i>
  </button>
  <div class="icons">
    <div class="icon" *ngFor="let iconId of iconIdArray">
      <button mat-button [mat-dialog-close]="iconId" mat-dialog-close>
        <i class="flaticon-{{iconId}}"></i>
      </button>
    </div>
  </div>
  <button mat-button (click)="iconPickerNext()" [disabled]="140==currentMinIconId">
    <i class="material-icons">keyboard_arrow_right</i>
  </button>
</div>