.icon_picker_body {
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    text-align: center;
    flex-flow: nowrap;
    max-width: 458px;
    margin: -14px;
    margin-left: -24px;
    margin-right: -24px;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    line-height: unset !important;
    padding: 0px !important;
}

.icon {
    width: 48px !important;
    height: 48px !important;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    margin: 2px;
    overflow: hidden;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    min-width: 40px !important;
}

.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}