<div class="picker_body">
  <button mat-button (click)="pickerPrev()" *ngIf="1!=currentMinId">
    <i class="material-icons">keyboard_arrow_left</i>
  </button>
  <div class="grid">
    <div class="icon" *ngFor="let item of itemArray">
      <button mat-button [mat-dialog-close]="item.id" mat-dialog-close>
        <i class="flaticon-{{item.icon}}"></i>
        <div class="icon_label">
          {{item.name}}
        </div>
      </button>
    </div>
  </div>
  <button mat-button (click)="pickerNext()" *ngIf="itemCount!=currentMaxId">
    <i class="material-icons">keyboard_arrow_right</i>
  </button>
</div>