.picker_body {
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    text-align: center;
    flex-flow: nowrap;
    max-width: 458px;
    margin: -14px;
    margin-left: -24px;
    margin-right: -24px;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    line-height: unset !important;
    padding: 0px !important;
}

.icon {
    min-width: 64px;
    height: 64px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin-left: 4px;
    margin-right: 4px;
}

.icon_label {
    max-width: 65px;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    min-width: 40px !important;
}

.grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}