<div class="container">

  <div *ngIf="categories" class="groups">
    <mat-card *ngFor="let cat of categories" 
      class="group_card mat-elevation-z4"
      (click)="editCategory($event, cat)">
        <mat-card-header>
          <div mat-card-avatar>
            <i class="flaticon-{{cat.icon}}"></i>
          </div>
          <mat-card-title>{{cat.name}}</mat-card-title>
          <mat-card-subtitle>{{cat.type_name | translate}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
  </div>
  
  <button mat-fab color="warn" (click)="createCategory()">
    <mat-icon aria-label="{{'grp_create' | translate}}">add</mat-icon>
  </button>

</div>