<div class="container">
    <mat-form-field>
        <input matInput placeholder="{{'ac_name' | translate}}" [(ngModel)]="data.object.name">
    </mat-form-field>

    <mat-form-field *ngIf="data.currencies">
        <mat-label>{{"ac_currency" | translate}}</mat-label>
        <mat-select [(value)]="data.object.currency">
            <mat-option *ngFor="let curr of data.currencies" [value]="curr.id" [label]="curr.name + ' (' + curr.sign + ')'">
                {{curr.name + ' (' + curr.sign + ')'}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="data.types">
        <mat-label>{{"grp_type" | translate}}</mat-label>
        <mat-select [(value)]="data.object.otype">
            <mat-option *ngFor="let type of data.types" [value]="type.id" [label]="type.name">
                {{type.name  | translate}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <label class="icon_label">{{"ac_icon" | translate}}</label>
    <button mat-button (click)="pickIcon()" class="icon_button">
        <i class="flaticon-{{data.object.icon}}"></i>
    </button>
</div>

<div class="buttons">
    <button class="dialog_button" mat-raised-button mat-dialog-close [mat-dialog-close] = "{object : data.object, action : 'cancel'}">{{'cancel' | translate}}</button>
    <button class="dialog_button" *ngIf="data.mode!='create'" mat-raised-button color="primary" mat-dialog-close [mat-dialog-close] = "{object : data.object, action : 'save'}">{{'save_settings' | translate}}</button>
    <button class="dialog_button" *ngIf="data.mode=='create'" mat-raised-button color="primary" mat-dialog-close [mat-dialog-close] = "{object : data.object, action : 'create'}">{{'save_settings' | translate}}</button>
    <button class="dialog_button" *ngIf="data.mode=='edit'" mat-raised-button mat-dialog-close [mat-dialog-close] = "{object : data.object, action : 'delete'}" >{{'delete' | translate}}</button>
</div>