.container {
    display: flex;
    flex-direction: column;
}

.icon_label {
    font-size: 12px;
    color: rgba(0,0,0, 0.54);
    margin-bottom: 7px;
    font-weight: 500;
}

.icon_button {
    width: 36px;
    min-width: 36px;
    padding: 0px;
}

.buttons{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.dialog_button{
    margin-left: 5px;
    margin-right: 5px;
}