/* You can add global styles to this file, and also import other style files */
body, html {
    font-family: 'Istok Web', 'Meiryo', 'Verdana', 'MS PGothic', sans-serif;
    background-color: #E6E5E5;
}

.button, .button_active {
    background: rgb(214, 214, 214);
    margin: 2px;
    padding-top: 3px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    font-family: 'Istok Web', 'Meiryo', 'Verdana', 'MS PGothic', sans-serif;
}

.button_active {
    background: rgb(236, 232, 232);
    font-weight: bold;
}

.main {
    min-width: 280px;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
}

.tooltip::after {
    content: attr(data-tooltip);
    transition: all 0.3s ease-in-out;
    transition-delay: 0.8s;
    background: lightyellow;
    color: black;
    opacity: 0;
    padding: 2px 2px;
    border: 1px solid black;
    position: absolute;
    visibility: hidden;
    margin-top: 30px;
    margin-left: -20px;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

.mat-dialog-container {
    background-color: #E6E5E5 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
