<div class="settings_container">
    <mat-form-field>
        <mat-label style="font-size: 18px;">{{"interface_language" | translate}}</mat-label>
        <mat-select
            [(ngModel)]="currentSettings.language"
            (ngModelChange)="changeSelectedLang($event)">
            <mat-option *ngFor="let key of languageKeys" [value]="key" [label]="languages[key] | translate">
                {{languages[key] | translate}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label style="font-size: 18px;">{{"default_currency" | translate}}</mat-label>
        <mat-select
            [(ngModel)]="currentSettings.defaultCurrency"
            (ngModelChange)="changeSelectedCurrency($event)">
            <mat-option *ngFor="let curr of currencies" [value]="curr.id" [label]="curr.name + ' (' + curr.sign + ')'">
                {{curr.name + ' (' + curr.sign + ')'}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label style="font-size: 18px;">{{"interface_mode" | translate}}</mat-label>
        <mat-select
            [(ngModel)]="currentSettings.imode"
            (ngModelChange)="changeSelectedMode($event)">
            <mat-option *ngFor="let key of modeKeys" [value]="key" [label]="modes[key] | translate">
                {{modes[key] | translate}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label style="font-size: 18px;">{{"show_tooltips" | translate}}</mat-label>
        <mat-select
            [(ngModel)]="currentSettings.showTooltip"
            (ngModelChange)="changeSelectedTip($event)">
            <mat-option *ngFor="let key of tipKeys" [value]="key" [label]="tips[key] | translate">
                {{tips[key] | translate}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label style="font-size: 18px;">{{"legend_type" | translate}}</mat-label>
        <mat-select
            [(ngModel)]="currentSettings.legendType"
            (ngModelChange)="changeSelectedLegend($event)">
            <mat-option *ngFor="let key of legendKeys" [value]="key" [label]="legends[key] | translate">
                {{legends[key] | translate}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label style="font-size: 18px;">{{"use_date" | translate}}</mat-label>
        <mat-select
            [(ngModel)]="currentSettings.useDate"
            (ngModelChange)="changeSelectedUseDate($event)">
            <mat-option *ngFor="let key of useDateKeys" [value]="key" [label]="usedates[key] | translate">
                {{usedates[key] | translate}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

