/* only apply this to firefox: */
@-moz-document url-prefix() {

    /* Normally you can just apply this to all 'select's not just a classs selector */
    select {
      /* This removes the native down arrow: */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: "";
      /* Add a new down arrow, probably shouldn't hotlink: */
      background-image: url("/assets/images/icon-chevron-down-16.png");
      background-position: right 8px center;
      background-repeat: no-repeat;
    }
  }
  
  /* Safari selects are sort of ugly too.  Unfortunately this applies to both Safari *and* Chrome */
  @media (-webkit-min-device-pixel-ratio: 0) {
    select {
      -webkit-appearance: none;
      background-image:  url("/assets/images/icon-chevron-down-16.png") !important;
      background-position: right 8px center;
      background-repeat: no-repeat;
      padding-right: 20px;
    }
  }

.settings_container {
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}